---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=bbq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XRH4RCvR8zmt8Q9_rxV9PUQxaCTzav4-TEJeXByMubmiK9m_gE0uO8-KOm9jDKo3LL7sEci866DZ2c2E6DIiBJT0Bj1K2mfVfji-JgzdWBjGqzY3zBH9HxDK57ycZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '495.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-h4js2; site=public_api_v3
      X-Zipkin-Id:
      - 8ad7ebe27f12175f
      Ratelimit-Dailylimit:
      - '500.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-127-198-useast1aprod
      X-Extlb:
      - 10-65-127-198-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "VzermHw6lXFWnpTklIItbQ", "alias": "post-oak-barbecue-denver",
        "name": "Post Oak Barbecue", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/AZ6JVUV0iBsZNBj_aYU9Gw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/post-oak-barbecue-denver?adjust_creative=OeisnwQ6_R7frLLrbt-TNw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OeisnwQ6_R7frLLrbt-TNw",
        "review_count": 492, "categories": [{"alias": "smokehouse", "title": "Smokehouse"},
        {"alias": "tradamerican", "title": "American"}, {"alias": "bbq", "title":
        "Barbeque"}], "rating": 4.5, "coordinates": {"latitude": 39.771811, "longitude":
        -105.043884}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "4000 Tennyson St", "address2": null, "address3": "", "city": "Denver", "zip_code":
        "80212", "country": "US", "state": "CO", "display_address": ["4000 Tennyson
        St", "Denver, CO 80212"]}, "phone": "+13034581555", "display_phone": "(303)
        458-1555", "distance": 7464.57649407705}, {"id": "pkVmOkl5M2QIpWbQ58hvaA",
        "alias": "smokin-yards-bbq-denver-3", "name": "Smokin'' Yards BBQ", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/kQr-F_Tjl-pDlfp7HWK12Q/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/smokin-yards-bbq-denver-3?adjust_creative=OeisnwQ6_R7frLLrbt-TNw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OeisnwQ6_R7frLLrbt-TNw",
        "review_count": 375, "categories": [{"alias": "bb[...]
