---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?key=94481a89494042b1922163808241301&q=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999994'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/13/2024 22:16:33
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7107e170df9512c154c133470891972b
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1705183953,"localtime":"2024-01-13
        15:12"},"current":{"last_updated":"2024-01-13 15:00","temp_f":1.0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":65,"feelslike_f":-12.0,"vis_miles":9.0,"uv":2.0},"forecast":{"forecastday":[{"date":"2024-01-13","day":{"maxtemp_f":10.1,"mintemp_f":-1.7,"condition":{"text":"Patchy
        moderate snow","icon":"//cdn.weatherapi.com/weather/64x64/day/329.png"}},"astro":{"sunrise":"07:20
        AM","sunset":"04:57 PM"},"hour":[{"time":"2024-01-13 00:00","temp_f":14.4,"condition":{"text":"Patchy
        light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/323.png","code":1210}},{"time":"2024-01-13
        01:00","temp_f":12.3,"condition":{"text":"Patchy light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/323.png","code":1210}},{"time":"2024-01-13
        02:00","temp_f":8.0,"condition":{"text":"Patchy light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/323.png","code":1210}},{"time":"2024-01-13
      [...]
