---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=6&key=94481a89494042b1922163808241301&q=39.74001,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999972'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/14/2024 22:41:14
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c8a93cc825812ece153ad2d860639d29
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Yingko","region":"T''ai-wan","country":"Taiwan","lat":24.95,"lon":121.35,"tz_id":"Asia/Taipei","localtime_epoch":1705272036,"localtime":"2024-01-15
        6:40"},"current":{"last_updated":"2024-01-15 06:30","temp_f":55.4,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png"},"humidity":100,"feelslike_f":55.0,"vis_miles":6.0,"uv":1.0},"forecast":{"forecastday":[{"date":"2024-01-15","day":{"maxtemp_f":70.7,"mintemp_f":60.7,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png"}},"astro":{"sunrise":"06:41
        AM","sunset":"05:27 PM"},"hour":[{"time":"2024-01-15 00:00","temp_f":63.2,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-15
        01:00","temp_f":62.7,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-15
        02:00","temp_f":62.2,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-15
        03:00","temp_f":61.8,"condition":{"text":[...]
