---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=6&key=94481a89494042b1922163808241301&q=39.74001,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999988'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/14/2024 00:34:24
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 10192afa307d929084a209eb0fe3c1b8
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Yingko","region":"T''ai-wan","country":"Taiwan","lat":24.95,"lon":121.35,"tz_id":"Asia/Taipei","localtime_epoch":1705192464,"localtime":"2024-01-14
        8:34"},"current":{"last_updated":"2024-01-14 08:30","temp_f":62.6,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":77,"feelslike_f":62.6,"vis_miles":6.0,"uv":5.0},"forecast":{"forecastday":[{"date":"2024-01-14","day":{"maxtemp_f":73.5,"mintemp_f":53.8,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"06:41
        AM","sunset":"05:26 PM"},"hour":[{"time":"2024-01-14 00:00","temp_f":59.9,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-14
        01:00","temp_f":57.0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-14
        02:00","temp_f":55.2,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-01-14
        03:00","temp_f":54.7,"condition":{"text":[...]
