---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=ice%20cream
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XRH4RCvR8zmt8Q9_rxV9PUQxaCTzav4-TEJeXByMubmiK9m_gE0uO8-KOm9jDKo3LL7sEci866DZ2c2E6DIiBJT0Bj1K2mfVfji-JgzdWBjGqzY3zBH9HxDK57ycZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-h4js2; site=public_api_v3
      X-Zipkin-Id:
      - 1d6887c1040b25e5
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '488.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-52-useast1aprod
      X-Extlb:
      - 10-65-92-52-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "LXlVCu6G-buaxC8GlDjmLA", "alias": "little-man-ice-cream-denver",
        "name": "Little Man Ice Cream", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/rTfaOB-Q3veX4r7BndWdCA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/little-man-ice-cream-denver?adjust_creative=OeisnwQ6_R7frLLrbt-TNw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OeisnwQ6_R7frLLrbt-TNw",
        "review_count": 2785, "categories": [{"alias": "icecream", "title": "Ice Cream
        & Frozen Yogurt"}], "rating": 4.5, "coordinates": {"latitude": 39.7594548,
        "longitude": -105.01108}, "transactions": ["pickup"], "price": "$$", "location":
        {"address1": "2620 16th St", "address2": "", "address3": "", "city": "Denver",
        "zip_code": "80211", "country": "US", "state": "CO", "display_address": ["2620
        16th St", "Denver, CO 80211"]}, "phone": "+13034553811", "display_phone":
        "(303) 455-3811", "distance": 4389.610584864904}, {"id": "TQnGyQlagGiMdAwkC6XDMA",
        "alias": "sweet-action-denver-12", "name": "Sweet Action", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/QqS-l9ttbSD0OnyU4EWYmg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/sweet-action-denver-12?adjust_creative=OeisnwQ6_R7frLLrbt-TNw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OeisnwQ6_R7frLLrbt-TNw",
        "review_count": 248, "categories": [{"alias": "icecream", "title": "[...]
